PM_ENV=production
PM_SERVICE_ROLE=api
PM_DATABASE_HOST=postgres
PM_DATABASE_PORT=5432
PM_DATABASE_NAME=powermeter
PM_DATABASE_USER=pm_api
PM_PUBLIC_ORIGIN=https://power-monitor.home.arpa:8443
PM_TIMEZONE=America/Los_Angeles
PM_SESSION_SECRET_FILE=/run/secrets/session_secret
PM_SESSION_ABSOLUTE_HOURS=12
PM_SESSION_IDLE_MINUTES=30
PM_LOGIN_FAILURE_WINDOW_MINUTES=15
PM_LOGIN_LOCKOUT_MINUTES=15
PM_LOGIN_PRINCIPAL_MAX_FAILURES=5
PM_LOGIN_SOURCE_MAX_FAILURES=50
PM_FIELD_ENCRYPTION_KEY_FILE=/run/secrets/field_encryption_key
PM_OTA_MANIFEST_KEY_FILE=/run/secrets/ota_manifest_key
PM_DATABASE_PASSWORD_FILE=/run/secrets/postgres_api_password
PM_RESTORE_DATABASE_USER=pm_restore_test
PM_RESTORE_DATABASE_PASSWORD_FILE=/run/secrets/postgres_restore_password
PM_BACKUP_ENCRYPTION_KEY_FILE=/run/secrets/backup_key
PM_BACKUP_DIR=/backups
PM_HTTPS_PORT=8443
PM_LOG_LEVEL=INFO
PM_ALLOWED_SCE_HOSTS='["www.sce.com","sce.com"]'
PM_SCE_RATE_SOURCE_URL=https://www.sce.com/save-money/rates-financing/residential-rate-plans/time-of-use-plans
PM_RATE_SOURCE_CONNECT_TIMEOUT_SECONDS=5
PM_RATE_SOURCE_READ_TIMEOUT_SECONDS=15
PM_RATE_SOURCE_TOTAL_TIMEOUT_SECONDS=30
PM_RATE_SOURCE_MAX_BYTES=5000000
PM_RATE_SOURCE_MAX_HEADER_BYTES=65536
PM_RATE_SOURCE_MAX_HEADER_COUNT=100
PM_RATE_SOURCE_MAX_REDIRECTS=3
PM_RATE_SOURCE_DUE_LIMIT=10
PM_RATE_SOURCE_RETRY_ATTEMPTS=3
PM_RATE_SOURCE_RETRY_BACKOFF_SECONDS=0.25
PM_RATE_SOURCE_OPERATION_TIMEOUT_SECONDS=20
